DATABASE_URL="postgres://postgres.[DB_DETAILS]@aws-0-eu-central-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1"
DIRECT_URL="postgresql://postgres:[DB_DETAILS]@db.[DB_DETAILS].supabase.co:5432/postgres"
NEXT_PUBLIC_SUPABASE_URL=https://[PROJECT_DETAILS].supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=[PROJECT_KEY]